<!DOCTYPE html>
    <html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Enter Data Application</title>
    </head>
    <body>

        <h1>Enter temperature</h1>
        <form action="#" th:action="@{/enterData}" th:object="${temperature}" method="post">
            <label for="temperature">Temperature</label>
            <input type="number" id="temperature" th:field="*{temperature_value}"
                   name="temperature_value"/>
            <button type="submit" value="Submit">Submit</button>
        </form>

    </body>
</html>